section.desc {
    width: 60vw;
    margin-top: 50px;
    float: left;
    margin-left: 5vh;
    margin-bottom: 50px;
}
section.desc a{font-size: 2vh}

section.quote {
    width: 60vw;
    margin-top: 20px;
    margin-bottom: 20px;
    float: right;
    margin-right: 5vh;
}

section.featureImg {
    width: 75vw;
    height: auto;
    margin: auto;
    margin-bottom: 50px;
}
section.featureImg img {width: 100%}