.hero1 {
    background: url("../../images/index/headerBg/desktop/desktopHero1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero2 {
    background: url("../../images/index/headerBg/desktop/desktopHero2.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}