.post.footer {
    width: 100%;
    margin-top: 40px;
    margin-bottom: 20px;
    border-top: 2px solid #bfbfbf;
    padding-top: 40px;
}

.post.footer.space {
    width: 100px;
    border: none;
}

.fLike {
    display: inline-block;
    margin-left: 30px;
}
.fLike.active h2{color: #d80000}
.imgActive {color: #d80000}
.fLike img {height: 55px}

.fComment {
    display: inline-block;
    margin-left: 30px;
}
.fComment.active h2{color: #d80000}
.fComment img {height: 50px}

.material-icons {
    font-size:50px !important;
    transform: translateY(12px) !important;
}

.post.comments {
    width: 100%;
    margin-top: 40px;
    padding: 20px;
    padding-top: 40px;
    border-top: 2px solid #bfbfbf;
}

.post.comment {
    margin-bottom: 5vw;
    display: flex;
    flex-direction: row;
}
.post.comment.final{margin-bottom: 0}

.post.comment p {
    width: calc(100% - 125px - 20px - 5vw);
    font-size: 2.5em;
}