* {
  box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: rgb(224, 51, 51);
}

a {
    text-decoration: inherit; 
}

.content-container {
    width: 725px;
    height: 50vh;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: auto;
}

/*-- RECTANGLES --*/

.rect {
    width: 8%;
    height: 25%;
    background: white;
    opacity: 0.5;
    margin-right: 1px;
    transition: 2s;
}
.rect:hover{cursor: pointer}
.recttrans {
    opacity: 1;
}
.rect1trans {transform: translateY(100%)}
.rect2trans {transform: translateY(78%)}
.rect3trans {transform: translateY(56%)}
.rect4trans {transform: translateY(34%)}
.rect5trans {transform: translateY(12%)}
.rect6trans{transform: translateY(0%)}
.rect7trans {transform: translateY(-12%)}
.rect8trans {transform: translateY(-34%)}
.rect9trans {transform: translateY(-56%)}
.rect10trans {transform: translateY(-78%)}
.rect11trans {transform: translateY(-100%)}



/* -- TEXT -- */

.title-container {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
    margin: auto;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    font-size: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.subtitle-container {
    width: 100%;
    height: 120px;
    margin: auto;
    border-bottom: 10px solid black;
    display: flex;
    justify-content: center;
}

.songTxt {
    width: 175px;
    height: 100%;
    padding: 5px;
    float: left;
    transition: all 1s;
    font-size: 1em;
}

.mani {
    height: 100%;
    padding: 5px;
    font-size: 1em;
    float: left;
    margin-left: 25px;
    padding-top: 5px;
    color: white;
}

/*-- FOOTER --*/

.footer {color: #fff}