* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {}

.show {display: block}
.hide {display: none}

.colWhite {background-color: #ffffff}
.colBlack {background-color: #000000}
.colBlue {background-color: #0000ff}