* {
    box-sizing: border-box;
    margin: 0;   
    padding: 0;
}

body {
}

header {
    width: 100vw;
    height: 100vh;
    padding: 10px;
    background-color: red;
    position: relative;
}

header h1 {
    position: absolute;
    bottom: 0;
}

section {
    width: 100vw;
}

section.location {
    height: 25vh;
    padding-left: 10px;
}

section.design{
    height: 75vh;
    background-color: blue;
}

section.reverb {
    height: 100vh;
    background-color: red;
}

section.photography {
    height: 66vh;
    margin-top: 17vh;
    margin-bottom: 17vh;
    background-color: green;
}

section.containerMusicBlog {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

section.music {
    height: 40vw;
    width: 40vw;
    padding: 10px;
    text-align: right;
    background-color: peachpuff;
}

section.blog {
    height: 40vw;
    width: 40vw;
    padding: 10px;
    text-align: left;
    background-color: goldenrod;
}

footer {
    height: 33vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

footer h3{
    width: 33vw;
    text-align: right;
}

footer.linkContainer {
    width: 50vw;
    display: flex;
    justify-content: flex-start;
}

footer.logo{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}