@media only screen 
   and (max-width : 375px) {
       
    /* -- TYPE -- */
    
    h1 {font-size: 14vw}
       
    h2{font-size: 10vw}
       
    a{font-size: 6vw}
       
       
    /* -- SECTIONS -- */
       
    section.design{
        width: 75vw;
        margin-left: 25vw;
    }
       
    section.reverb {height: 125vh}
       
    section.containerMusicBlog {flex-direction: column}
       
    section.music{
        height: 50vh;
        width: 75vw;
        margin-left: 25vw;
        text-align: left;
    }
    
    section.blog{
        height: 50vh;
        width: 75vw;
        margin-right: 25vw;
        text-align: right;
    }
       
    footer {
        flex-direction: column;
    }
       
    footer h3{
        width: auto;
        height: 16%;
        font-size: 8vw;
        text-align: center;
    }
    
    footer.linkContainer{
        width:auto;    
        justify-content: space-around;
    }
       
    footer.social{margin-top: 5vh;}
}