body {background: #f5f3e4;}

.limerick {
    width: 500px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Cormorant Garamond', serif;
    font-size: 1em;
    text-align: center;
}