.bg {
    height: 100vh;
    width: 100%;
    background: url(../images/noodleTileSqAng.png) repeat;
    background-size: 150px 150px;
    
    animation: bgAni 3s linear infinite;
}

@keyframes bgAni {
	from { background-position: 0 0; }
	to { background-position: 150px 150px; }
}