/* --TEXT BACKGROUND-- */

.heroContainer {
    height: calc(100vh - 175px);
    width: 100%;
    position: relative;
}
@media only screen and (max-width : 375px)
{ .txtContainer {height: 100vh} }

.cvr {
    width: 100%;
    height: 100vh;
    position: absolute;
    display: flex;
    align-items: center;
}
@media only screen and (max-width : 375px)
{ .cvr {
    padding-left: 25vw;
    flex-direction: column;
    align-items: flex-start;} }

.txt {
    font-family: 'Space Mono', monospace;
    font-weight: 700;
    color: rgba(0,0,0,0);
    font-size: calc(1.3rem + 2.5vmin);
}

.y {
    mix-blend-mode: screen;
    -webkit-text-stroke: 2px rgb(255,255,0);
}
.yTrans {transform: translate(-2px,1px);}

.m {
    mix-blend-mode: screen;
    -webkit-text-stroke: 2px rgb(255,0,255);
}
.mTrans {transform: translate(2px,4px);}

.c {
    mix-blend-mode: screen;
    -webkit-text-stroke: 2px rgb(0,255,255);
}
.cTrans {transform: translate(-3px,-1px);}
