* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: normal;
    text-decoration: inherit;
    color: inherit;
    font-weight: inherit;
}

body {
    background: url(../../images/index/staticBG.gif) no-repeat center center fixed;
    background-size: cover;
    background-color: #161616;
}

h1 {
    font-family: 'Proza Libre', sans-serif;
    font-size: 2.5em;
    color: #f5f3e4;
}

h2 {
    font-family: 'Space Mono', monospace;
    font-size: 1em;
    color: #f5f3e4;
}

p {
    font-family: "Proza Libre", sans-serif;
    color: #fff;
    font-size: 1em;
}

/* --FLEX COLUMNS-- */

.col1of2{flex: 0 0 50%}

.col1of3{flex: 0 0 33.33%}

.col2of3{flex: 0 0 66.66%}

.col2of5{flex: 0 0 40%}

.flexCent {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* --HEADER-- */

.header {
    position: relative;
    width: 93%;
    margin-left: 7%;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    border-bottom: 2px solid #fff;
}

.name {
    height: 75px;
    width: 325px;
    border: 2px solid #fff;
    border-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    font-family: 'Proza Libre', sans-serif;
    font-size: 1.5em;
    color: #fff;
}
.name img {width: 40px}

.mainContainer {
    height: calc(100vh - 175px);
    width: 100%;
    box-shadow: 0px -5px 10px #070707;
    position: relative;
    display: flex;
}
@media only screen and (max-width : 375px)
{ .mainContainer {
    height: 100%;
    flex-direction: column} }