.hero1 {
    background: url("../../images/index/headerBg/desktop/desktopHero1.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}

.hero2 {
    background: url("../../images/index/headerBg/desktop/desktopHero2.JPG");
    background-repeat: no-repeat;
    background-size: cover;
}