@media only screen 
    and (max-device-width: 414px) 
    and (-webkit-min-device-pixel-ratio: 2)
    { 
              
    /* -- SECTIONS -- */
       
    section.design{
        width: 75vw;
        margin-left: 25vw;
        background-position: center;
    }
    
    section.design.title {
        height: 50%;
        width: 75%;
    }
       
    section.reverb {
        height: 110vh;
        flex-direction: column;
        justify-content: space-around;
    }
       
    section.reverbImg {width: 100%}
       
    section.photography{
        margin-top: 10vh;
        margin-bottom: 10vh;
        justify-content: center;
    }
       
    section.photography.title {margin:auto}
       
    section.containerMusicBlog {
        height: 110vh;
        flex-direction: column;
        margin-top: 20vh;
        margin-bottom: 15vh;
    }
       
    section.music {
        width: 66vw;
        margin-left: 33vw;
        text-align: left;
    }
 
    section.blog {
        width: 66vw;
        margin-right: 33vw;
        text-align: right;
    }
      
    section.about {
        height: auto;
        flex-direction: column;      
    }
    section.about.profilePic {
        height: 50vw;
        margin-bottom: 20px;
    }
    section.about.text {width: 75vw}
        
}